
$color1: #c4c5c7;
$color2: #b3b4b5;
$color3: #FAF0E6;
$light: #f8f8f8;
$dark: #E0E1E4;

.sidebar-container {
    padding: 1rem;
    background-color: $color1;
    width: 25vw;
    flex: 1;
}

.priceRange, .check-input-container {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
}

.priceRange {
    align-items: center;
}

.priceRange * {
    width: 100%;
    margin: 5%;
}

.sidebar-filter {
    background-color: $color2;
    padding: 0.5rem;
    margin: 1rem 0 1rem 0;
}

.sidebar-check-input {
    position: relative !important;
    margin: 0 0.5rem 0 0 !important;
    border: 2px solid black;
}

.sidebar-expand {
    color: blue;
    background-color: transparent;
    border: transparent;
}

.sidebar-radio {
    position: relative !important;
    margin: 0.2em 0.5rem 0 0 !important;
    border: 2px solid black;
}

.sidebar-reset {
    background-color: $color1;
    border: 2px solid black;
    width: 100%;
    padding: 2%;
    margin-top: 5%;
}

.results-header {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 2%;
    justify-content: space-between;
    align-items: center;
}

.catalog-sort {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.catalog-dropdown {
    background-color: $color2 !important;
}

.catalog-container {
    margin-left: 5%;
    flex: 3;
}

.search {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 2%;
}

.search * {
    margin-right: 2%;
}

.vehicle-container {
    padding: 2%;
    background-color: $color1 !important;
    margin-bottom: 5%;
}

.vehicle-info {
    margin: 5% 2% 5% 2%;
    width: 100%;
}

.customizations {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: auto;
    justify-content: space-between;
    margin-top: 5%;
}

.customization {
    display: flex;
    flex-flow: row nowrap;
}

.customization > * {
    margin-right: 0.5rem;
}

.customization > *:last-child {
    margin-right: 0;
}

.detailsContainer {
    width: 100%;
    background-color: $light;
    padding: 0 2% 0 2%
}

.detailsName {
    font-size: 2rem;
}

.detailsPrice {
    font-weight: bold;
    font-size: 1.5rem;
}

.detailsImg {
    height: 50vh;
    width: 70%;
    margin-bottom: 5%;
}

.detailsVehicle {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 4%;
    width: 100%;
}

.detailsImgReviewContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.detailsSidebar {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    padding: 1%;
    text-align: center;
}

.detailsSidebar * {
    margin: 5% 0 5% 0;
}

.detailsSelection {
    display: flex;
    flex-flow: row nowrap;
    gap: 5%;
}

.detailsQuantity {
    width: fit-content !important;
}

.vehicleCustomizations {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.vehicleDetails, .vehicleDescription {
    width: 100%;
    text-align: start;
}

.vehicleCompare {
    width: 100%;
    align-self: center;
}

.comparisonContent {
    text-align: center;
}

.comparisonHeader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}

.comparisonContainer {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 5%;
}

.comparisonList {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
    height: fit-content;
}

.customizationVehicle {
    padding: 2%;
}

.comparisonItem {
    border: 2px solid black;
    margin-left: 1%;
}

.selectedComparisonItem {
    border: 5px solid blue;
    margin-left: 1%;
}

.comparisonCustomization {
    display: flex;
    flex-flow: row nowrap;
}

.comparisonGrid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    width: 100%;
}

.comparisonGridItem {
    padding: 10px;
    text-align: center;
}

.comparisonLight {
    background-color: $light;
}

.comparisonDark {
    background-color: $dark;
}